@import "tailwindcss";

*,
*::before,
*::after {
  outline: none;

  transition:
    background-color var(--transition-duration) var(--transition-timing),
    color var(--transition-duration) var(--transition-timing),
    border-color var(--transition-duration) var(--transition-timing),
    box-shadow var(--transition-duration) var(--transition-timing),
    opacity var(--transition-duration) var(--transition-timing),
    transform var(--transition-duration) var(--transition-timing),
    scale var(--transition-duration) var(--transition-timing),
    filter var(--transition-duration) var(--transition-timing);
}

img {
  pointer-events: none;
}

.no-default-transition,
.no-default-transition *,
.no-default-transition svg * {
  transition: none !important;
}

:root {
  --color-background: #e0e0e0;
  --color-primary: #001f3f;
  --color-secondary: #e0e0e0;
  --color-accent: #bebebe;
  --color-border: #eaeaea;

  --font-family: "Orbitron", sans-serif;

  --shadow-soft: -5px 5px 10px #989898, 5px -5px 10px #ffffff;
  --shadow-hard: 5px -5px 10px #989898, -5px 5px 10px #ffffff;

  --transition-duration: 0.3s;
  --transition-timing: ease-in-out;

  --navbar-height: 80px;
}

@keyframes animation-full-width {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@theme inline {
  --color-background: var(--color-background);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-border: var(--color-border);

  --font-default: var(--font-family);

  --shadow-soft: var(--shadow-soft);
  --shadow-hard: var(--shadow-hard);
  --shadow-none-inset: 0 0 #000 inset;

  --spacing-section: 1280px;
  --spacing-navbar: var(--navbar-height);

  /* About */
  --cursor-lantern: url(/images/lantern.svg) 24 24, default;
  --shadow-lamp:
    0 0 100px 20px #f2d241, 0 0 300px 100px #f2d24188,
    0 0 600px 200px #f2d24144, 0 0 1000px 300px #f2d24122;
}

@layer supports {
  @supports (
    (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
  ) {
    .backdrop-supported {
      @apply backdrop-blur-lg;
    }
  }

  @supports not (
    (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px))
  ) {
    .backdrop-supported {
      @apply bg-secondary;
    }
  }
}

html,
body {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-primary);
  transition: all 0.3s ease-in-out;
}

::selection {
  color: var(--color-secondary);
  background: var(--color-primary);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-accent);
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-accent) transparent;
}

/* About */

.light-off .light-off-box-shadow-none {
  @apply shadow-none;
}

.light-off .light-off-box-shadow-inset-none {
  @apply shadow-none-inset;
}
