.spotlight-mask {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.95);
  mask-image: radial-gradient(
    circle 100px at var(--x) var(--y),
    transparent 0%,
    rgb(182, 26, 26) 100%
  );
  -webkit-mask-image: radial-gradient(
    circle 100px at var(--x) var(--y),
    transparent 0%,
    rgb(141, 34, 34) 100%
  );
  mask-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: opacity 0.3s ease;
  z-index: 40;
}
